# Input for certtool. Generate private keys only on the server.
cn = "Bulijie VPN"
organization = "Bulijie"
serial = 1
expiration_days = 825
ip_address = "192.168.19.254"
tls_www_server
signing_key
encryption_key
